body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: grey;
}

header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background:img src="gov3.jpeg";
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #db6634;
}
.hero {
    background: white;
    padding: 50px 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

button {
    background: #2f6990;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}


.content-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10%;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1; /* Makes cards equal width */
    text-align: center;
    width:350px;
    transition:transform 0.5s ease;
}



footer {
    text-align: center;
    padding: 30px;
    background: #2c3e50;
    color: rgb(245, 241, 241);
    margin-top: 20px;
 }